.mosaic div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

body,
html {
  margin:0;
  padding:0;
  color:#000;
  background:#000;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
#page {
  width:750px;
  margin:0 auto;
  background:#dfd;
}
#header {
  padding:5px 10px;
  background:#595;
}
h1 {
  margin:0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
#nav {
  padding:5px 10px;
  background:#272;
}
#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
#nav li {
  display:inline;
  margin:0;
  padding:0;
}
#main {
  float:left;
  width:480px;
  padding:10px;
  background:#ddd;
}
h2 {
  margin:0 0 1em;
}
#sidebar {
  float:right;
  width:230px;
  padding:10px;
  background:#9c9;
}
#footer {
  clear:both;
  padding:5px 10px;
  background:#8b8;
}
#footer p {
  margin:0;
}
* html #footer {
  height:1px;
}

input.title {
  width: 6em;
}
input.description {
  width: 30em;
}
input.variable {
  width: 6em;
}
input.category {
  width: 6em;
}
input.cell {
  width: 6em;
}
table {
  border-collapse:collapse;
}
table, td, th {
  border:1px solid black;
}
.margin-row, .margin-col {
  color:#777;
  font-style: italic;
}