body { padding-top: 42px; }

@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}

table.edittable td input {
  width: 2em;
}

table.edittable th input {
  width: 5em;
}

.margin-row, .margin-col {
  color:#777;
  font-style: italic;
}
